{% block header %}
	<header role="banner">
		<nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
			{{ page.header }}
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
				{{ page.primary_menu }}
				{{ page.secondary_menu }}
			</div>
		</nav>
	</header>
{% endblock %}
