@import 'variables';

header {
  .site-logo {
    img {
      height: 80px;
    }
  }

  .menu-item {
    padding-top: 0;
  }

  .navbar-nav .nav-item {
    font-size: 12px;
    padding: 23px 0;
    text-align: center;
    position: relative;

    a {
      text-transform: uppercase;
      color: $text-color;

      &:after {
        background-color: $primary-color;
        content: '';
        display: block;
        height: 6px;
        position: absolute;
        bottom: 18px;
        transition: width 0.3s;
        width: 0;
      }

      &:hover,
      &.active {
        color: $primary-color;
        background-color: transparent;

        &:after {
          width: calc(100% - 15px);
        }
      }
    }

    &.user-menu-item {
      background: $primary-color;
      display: flex;
      color: white;
      min-width: 100px;
      justify-content: center;

      i {
        display: flex;
        align-items: center;
      }

      a.nav-link {
        color: white;
        margin-right: 5px;

        &:after {
          display: none;
        }
      }
    }

  }
}
